@import 'variables', 'flex';

$input-width: 240px;
$input-height: 43px;
$input-padding: 0 10px;

input,
textarea {
  width: $input-width;
  height: $input-height;
  border-radius: 5px;
  padding: $input-padding;
  border: solid 1px $grey-light;

  &:focus,
  &:hover {
    border-color: $blue-dark;
  }
}

textarea {
  font-size: 14px;
  line-height: 21px;
}

button {
  &.submit {
    width: $input-width;
    height: $input-height;
    border: 0;
    font-weight: 400;
    color: $white-light;
    border-radius: 5px;
    padding: $input-padding;
    background-color: $blue-light;
    font-size: 15px;
    cursor: pointer;

    span.material-icons {
      padding-right: 3px;
    }

    @extend .flex-row-center;
  }

  &.small {
    width: 40px;
    height: 40px;
    background: none;
    border: 0;
    border-radius: 12px;
    cursor: pointer;

    @extend .flex-row-center;
  }

  &.clear {
    border: 0;
    padding: 0;
    background: none;
    cursor: pointer;

    @extend .flex-row-center;
  }

  &.outlined {
    border: solid 2px $blue-light;
    border-radius: 12px;
    height: 40px;
    padding: 8px 15px;
    cursor: pointer;

    span.material-icons {
      padding-right: 3px;
    }

    @extend .flex-row-center;
  }

  transition: filter 0.3s;
  &:hover:not(.outlined) {
    filter: brightness(92%);
  }
}
