$blue-dark: #3362cc;
$blue-light: #407bff;
$black-dark: #1e282d;
$black-light: #263238;
$grey-dark: #515b60;
$grey-light: #747c80;
$grey-blue-dark: #a1b6e6;
$grey-blue-light: #b3caff;
$white: #ffffff;
$white-dark: #f1f1f1;

$mobile: 800px;
$tablet: 801px;
$fullhd: 1080px;
