$white-light: #ffffff;
$white-dark: #f1f1f1;
$black-light: #263238;
$black-dark: #1e282d;
$blue-dark: #3362cc;
$blue-light: #407bff;
$grey-dark: #515b60;
$grey-light: #747c80;
$grey-blue-dark: #a1b6e6;
$grey-blue-light: #b3caff;
$grey-weak-blue-light: #e8f0fe;
$grey-weak-blue-dark: #dee5f1;

$mobile: 800px;
$tablet: 801px;
$fullhd: 1080px;

$shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
